/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  background: #fdfeff;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.logo-img {
  width: 150px;
  margin: 10px auto;
}
#multistepsform {
  width: 375px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#multistepsform fieldset {
  border: 0 none;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#multistepsform fieldset:not(:first-of-type) {
  display: none;
}
#multistepsform input,
#multistepsform textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid transparent;
  color: #333;
  border-radius: 0.8em;
  margin-bottom: 25px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 15px 1px rgba(216, 216, 216, 0.6);
  transition: 150ms;
}
#multistepsform input:focus,
#multistepsform textarea:focus {
  outline: none;
  border: 2px solid #276fbf;
}
#multistepsform .action-button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  width: 100px;
  background: #276fbf;
  font-weight: bold;
  color: #fff;
  transition: 150ms;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
}

/*** custom checkboxes ***/
.checkbox-div {
  margin-bottom: 25px;
}
.checkbox-div label {
  color: #333;
}
input[type="checkbox"] {
  display: none;
} /* to hide the checkbox itself */
input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type="checkbox"] + label:before {
  content: "\f096";
} /* unchecked icon */
input[type="checkbox"] + label:before {
  letter-spacing: 10px;
} /* space between checkbox and label */

input[type="checkbox"]:checked + label:before {
  content: "\f046";
  fill: green;
  color: green;
} /* checked icon */
input[type="checkbox"]:checked + label:before {
  letter-spacing: 5px;
}

/* allow space for check mark */

#multistepsform .action-button:hover,
#multistepsform .action-button:focus {
  /* box-shadow: 0 0 0 2px #f08a5d, 0 0 0 3px #ff976; */
  color: #fff;
}
#multistepsform .fs-title {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 25px;
  color: #333;
  position: relative;
}
#multistepsform .fs-title .yourname {
  font-weight: 700;
}

#multistepsform .fs-subtitle {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #333;
  position: relative;
}
#multistepsform .fs-desc {
  font-size: 10px;
  font-style: italic;
  color: rgb(216, 3, 3);
  padding-bottom: 15px;
}
#multistepsform .fs-subtitle .yourphone {
  font-weight: 700;
}
#multistepsform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#multistepsform #progressbar li {
  list-style-type: none;
  color: #999;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#multistepsform #progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #999;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#multistepsform #progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#multistepsform #progressbar li:first-child:after {
  content: none;
}
#multistepsform #progressbar li.active {
  color: #276fbf;
  font-family: 700;
}
#multistepsform #progressbar li.active:before,
#multistepsform #progressbar li.active:after {
  background: #276fbf;
  color: white;
}
